body{
    background-color: rgb(144, 204, 199);
}
h1
{
    color:rgb(0, 1, 59);
    background-color: rgb(189, 154, 230);
}

#show_sketch{
    float: right;
}

canvas
{border:5px solid rgb(104, 139, 153);
border-radius: 25px;
animation-name: example;
animation-duration: 4s;
margin-top: 50px;
animation-iteration-count: infinite;
}

@keyframes example {
    from{box-shadow: 1px 1px 38px rgb(122, 175, 245);}
    to {box-shadow: 1px 1px 38px rgb(0, 0, 75);}
}

p
{
    padding-top: 10px;
    font-size: 25px;
}